<div data-am-splash="cover dark">
    <div data-am-loader>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
</div>

<div data-am-dashboard>

    <div data-am-panel="left">
        <div class="logo-container">
            <h1>F</h1>
        </div>
    </div>

    <div data-am-panel="right">
        <div data-am-topbar></div>
        
        <div data-am-workarea>
            
            @*<div data-am-splash="">
                <div data-am-loader>
                    <div class="loading-bar"></div>
                    <div class="loading-bar"></div>
                    <div class="loading-bar"></div>
                    <div class="loading-bar"></div>
                </div>
            </div>*@

            <div class="push-down hidden" id="test">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-sm-8">
                            <div data-am-shout="icon-left quantity noun primary">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="icon">
                                            <i class="icon-ball"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-16">
                                        <div class="info">
                                            <p class="quantity">
                                                <span data-lean-component="matchcount"></span>
                                            </p>
                                            <p class="noun">Matches</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div data-am-shout="icon-left quantity noun secondary">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="icon">
                                            <i class="icon-gauge"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-16">
                                        <div class="info">
                                            <p class="quantity">3740</p>
                                            <p class="noun">Filtered matches</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8"><div style="height: 75px; background-color: lightBlue;"></div></div>
                    </div>
                </div>
            </div>

            <div data-lean-component="preselection" data-am-preselection></div>

        </div>

    </div>

</div>

@section Scripts
{
    <script>views.dashboard.apply();</script>
}