<div data-am-splash>
    <div data-am-loader>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
</div>

<div data-am-dashboard>

    <div data-am-panel="left">
        <div class="logo-container">
            <h1>lyze</h1>
        </div>
    </div>

    <div data-am-panel="right">
        <div data-am-topbar></div>

        <div data-am-workarea>

            <div data-lean-component="preselection" data-am-preselection></div>

        </div>

    </div>

</div>

@section Scripts
{
    <script>views.dashboard.apply();</script>
}