<div data-am-admin>
    <div data-lean-component="admin-country"></div>
    <div data-lean-component="admin-season"></div>
    <div data-lean-component="admin-league"></div>
    <div data-lean-component="admin-team"></div>
    <div data-lean-component="admin-alias"></div>
    <div data-lean-component="admin-matchupload"></div>

    <div data-lean-component="admin-messages" data-am-messages></div>
</div>

@section Scripts
{
    <script>views.admin.apply();</script>
}