[data-am-shout]{
    
}

[data-am-shout~="round"]{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: @clr-header-bg-dark;
    color: #eee;
    border-radius: 50%;
    font-size: 40px;
    line-height: 100px;
}