[data-am-import-matches]{
    .matches{
        
        .alert{
            background-color: #a94442;
            color: #ebccd1;
        }

        td{
            border: 1px solid #ccc;
            padding: 5px;
        }

        .away-team,
        .home-team{
            padding: 5px 15px;
        }

        .away-team{
            text-align: left;
        }

        .home-team{
            text-align: right;
        }

        .date{
            cursor: pointer;
        }

        .note{
            width: 100px;
        }
    }
}