<div data-lean-component="import-status"></div>

<div data-am-import-grid>
    <div data-am-import-grid="col">
        <div data-lean-component="import" class="panel"></div>
    </div>
    <div data-am-import-grid="col">
        <div data-lean-component="import-country" class="panel mb"></div>
        <div data-lean-component="import-team" class="panel mb"></div>
        <div data-lean-component="import-save" class="panel"></div>
    </div>
    <div data-am-import-grid="col">
        <div data-lean-component="import-league" class="panel"></div>
    </div>
</div>

<div data-am-import-grid>
    <div data-am-import-grid="col">
        <div data-lean-component="import-matches"></div>
    </div>
    <div data-am-import-grid="col">
        <div data-lean-component="import-teams"></div>
    </div>
    <div data-am-import-grid="col">
        <div data-lean-component="import-countryteams"></div>
    </div>
</div>