@width-left:                    15%;
@height-top:                    65px;

@clr-light:                     #fff;
@clr-header-bg-dark:            #373C47;
@clr-header-bg-light:           #fff;
@clr-select-selected:           #407674;
@clr-primary:                   #53d192;//#448C6F;
@clr-secondary:                 #CE8464;

/* LEFT NAV */
@clr-left-nav-bg:               #2D323E;
@clr-left-nav-hover:            #29282e;
@clr-left-nav-header-text:      rgba(255,255,255, 0.5);
@clr-left-nav-header-border:    rgba(255,255,255, 0.05);
@intend-left-nav-header:        10px 20px;

/* CARD */
@clr-card-header-border:        #f3f3f3;
@clr-card-header-text:          #232425;

@header-box-shadow:             0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);