@import 'dashboard-settings';

@clr-text:          #2c2e2f;
@clr-turquoise:     #407674;
@clr-gray:          #f3f3f3;
@clr-disabled:      #f5f5f5;
@clr-disabled-text: #ccc;
@clr-border:        #ccc;
@clr-green:         #82b759;
@clr-purple:        #57518f;
@clr-blue:          #92c9cf;
@clr-red:           #a94442;
@clr-link:          darken(@clr-blue, 10%);

@font-size:         16px;